
@font-face {
    font-family: title-font;
    src: url("titlefont/thedeadsaloon-Regular.ttf");
}

h1 {
    text-align: center;
    margin-top: 5%;
    font-size: 100px;
    font-family: title-font;
}

p {
    text-align: center;
    font-size: 40px;
    font-family: title-font;
}

body {
    background-image: url("store/images/drawing-desert-with-landscape-background_889056-167277.avif");
    background-size: cover;
}

#board {
    display: block;
    padding: 10px 20px;       
    font-size: 30px;            
    margin: 0 auto;
    position: relative;
    transition: transform 0.3s ease;
}

#playText {
    position: absolute; 
    top: 25%;          
    left: 50%;         
    transform: translate(-50%, -50%);
    font-size: 75px;    
    font-family: title-font; 
    color: white;
}

#parent {
    position: relative;
    display: inline-block;
}

#parent:hover #board {
    transform: scale(1.1); 
}

#parent:hover #playText {
    color: yellow;
}