@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&family=Tomorrow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: "Tomorrow", sans-serif;
  color: black;
  background-color: #f0e5d1;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin-top: 20px;
  color: #f8c471;
  font-family: "Metal Mania", sans-serif;
}

.shop-container {
  display: flex;
  /* flex-wrap: wrap; */
  /* justify-content: center; */
  margin-top: 20px;
  align-items: center;
  flex-direction: column;
  margin: 0;
  width: 100%;
  height: 50%;
  /* background-color: #392925ff; */
}

#characterContainer {
  width: 420px;  
  height: 600px; 
  position: relative;
}

.purchased{
  background-color: #8e8268;
}
.navigation {
  display: flex;
  justify-content: center;
  justify-content: space-between;
}
#itemsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Each item will be at least 150px, but grow to fit */
  gap: 1rem;
  justify-content: center;
  margin-top: 0;
  padding: 1.2rem;
  border-radius: 10px;
  width: 90%;
  height: auto;
}




#ready:hover {
  background: #c3724e;
  color: white;
}

#ready:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%),
    0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

#ready:focus {
  outline: none;
  border: 2px solid #d3b8ae;
}

#ready:not(:disabled) {
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 3px 0,
    rgba(60, 64, 67, 0.15) 0 4px 8px 3px;
}

#ready:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, 0.3) 0 2px 3px 0,
    rgba(60, 64, 67, 0.15) 0 6px 10px 4px;
}

#ready:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 3px 0,
    rgba(60, 64, 67, 0.15) 0 4px 8px 3px;
}

#ready:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, 0.3) 0 4px 4px 0,
    rgba(60, 64, 67, 0.15) 0 8px 12px 6px;
}

#ready:disabled {
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 3px 0,
    rgba(60, 64, 67, 0.15) 0 4px 8px 3px;
}
.item-cost {
    font-size: 14px;
    color: #555;
    margin-top: 5px;
  }
  
.shop-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1; /* Maintains a square shape */
  border: 4px ridge #a1665c;
  background-image: url('./images/sand_texture.jpg'); /* Replace with your image path */
  background-size: cover;
  background-position: center;
  padding: 1rem;
  box-sizing: border-box;
  border-radius: 10px;
}



.shop-item p{
  font-size: 1rem;
}

.shop-item img {
  width: 100%;
  height: 100%; 
  max-height: 100%; 
  border-radius: 5px;
}

.buy-button img{
    width: 50%;
    height: 80%;
}


/* general elements */
h1 {
  text-align: center;
  margin-bottom: 20px;
}

p {
  font-size: 20px;
  text-align: center;
}

/* div that holds the iframe */
#game {
  width: 80%;
  max-width: 600px;
  height: 400px;
  margin: 15px;
}

/* Char display iframe */
iframe {
  width: 100vw;
  height: 100vh;
  border: none;
  /* opacity: 0.5; */
}

.buy-button {
  align-items: center;
  margin: 0;
  appearance: none;
  background-color: #d38b5d;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-size: 14px;
  font-weight: 500;
  height: 32px;
  justify-content: center;
  letter-spacing: 0.25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform, opacity;
  z-index: 0;
}

.buy-button:hover {
  background: #c3724e;
  color: white;
}

.buy-button:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%),
    0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

.buy-button:focus {
  outline: none;
  border: 2px solid #d3b8ae;
}

.buy-button:not(:disabled) {
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 3px 0,
    rgba(60, 64, 67, 0.15) 0 4px 8px 3px;

}

.buy-button:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, 0.3) 0 2px 3px 0,
    rgba(60, 64, 67, 0.15) 0 6px 10px 4px;
    color: white;
}

.buy-button:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 3px 0,
    rgba(60, 64, 67, 0.15) 0 4px 8px 3px;
}

.buy-button:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, 0.3) 0 4px 4px 0,
    rgba(60, 64, 67, 0.15) 0 8px 12px 6px;
}

.buy-button:disabled {
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 3px 0,
    rgba(60, 64, 67, 0.15) 0 4px 8px 3px;
}

canvas {
  z-index: 1;
}


#canvasContainer{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2rem;
    margin: 0;
    flex: 1 2;
    top: 50%;
    left: 50%;
    width: 100vw;
    transform: translate(-50%, -50%);
}

.character-shop{
  display: flex;
}

#navigationContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin-top: 20px;
}

.nav-arrow {
  font-size: 20px;
  padding: 10px 15px;
  background-color: #444;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.header{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  font-family: "Metal Mania", sans-serif;
  color: #ffffff;
  background-color: #c6ac8f;
  margin-bottom: 1.2rem;
}
.currency-display {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-left: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;

}

.currency-display img {
  width: 70px;
  height: 50px;
  margin-right: 10px;
}



.ready-button {
  align-items: center;
  background-color: transparent;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #32190f;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  margin-right: 1rem;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;}


.ready-button:hover {
  background-color: #c3724e;
  color: white;
}

.ready-button:active {
  background-color: #7a6953;
}
.nav-arrow:hover {
  background-color: #c3724e;
  color: white;
}

.shop-header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    flex-direction: column;
    width: 50vw;
    font-family: "Metal Mania", system-ui;
    font-size: 2rem;
}

.stats-bars {
    width: 100%;
    max-width: 300px;
  }
  
  .stat {
    margin: 10px 0;
  }
  
  .label {
    font-size: 14px;
  }
  
  .bar {
    background: #ddd;
    height: 20px;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .bar .fill {
    height: 100%;
    width: 0;
    background: #ffd700;
    transition: width 0.3s ease;
  }
  
  .character {
    position: relative; /* Add this to position child elements absolutely within this container */
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 10px ridge #d3b8ae;
    background-image: url('./images/drawing-desert-with-landscape-background_889056-167277.avif');
    background-size: cover;
    background-repeat: no-repeat;
    gap: 1rem;
  }
  
  #characterContainer img {
    max-width: 100%;
    height: 660px;
    position: relative; 
    z-index: 1; 
  }
  
  #equippedItemsContainer {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3; 
    pointer-events: none; 
  }
  .category-name{
    margin-top: 1rem;
  }
  
  canvas {
    position: absolute; 
    top: 0;
    left: 0;
    z-index: 2; 
  }
  
.character-cont{
    display: flex;
    flex-direction: column;
    width: 30vw;
    /* justify-content: center; */
    align-items: center;
    margin: 0 ;
    height: 80vh;
}

/* .inventory{
  border: 2px solid #a1665c;
  padding: 10px;
  height: 50%;
  width: 80%;
  display: grid;
  grid-row: auto;
  grid-template-columns: auto;
  justify-content: space-evenly;  
  align-content: center;
} */

#inventory {
  display: flex;
  justify-content: space-evenly;
  gap: 10px; 
  padding: 10px;
  background-color: #faf0dc;
  /* border: 1px solid #ddd; */
  border-radius: 8px;
  /* height: 50%;
  width: 80%; */
  margin: 10px auto;
  height: 75%;
  overflow: auto;
  
  
}


.inventory-container {
  display: flex;
  /* flex-wrap: wrap; */
  gap: 10px;
justify-content: space-evenly;
  align-items: center;
  margin: 0;
  /* width: 100%;
  height: 50%; */
  /* background-color: #392925ff; */
}

.inventory-cont{
  height: 50%;
  width: 80%;
}

.inventory-item {
  /* background-color: #bd9e92; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  text-align: center;
  padding: 10px;
  border: #d3b8ae 1px solid;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /* border: #d3b8ae 1px solid;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
  height: 70%;
  margin: 1rem;
}

.inventory-item img {
  width:100%; 
  height: auto;
  border-radius: 4px;
}
h1 {
  position: relative;
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  color: #080808;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.inventory-header{
  text-align: center;
  margin: 10px;
}
h1 span {
  display: block;
  font-size: 0.5em;
  line-height: 1.3;
}
h1 em {
  font-style: normal;
  font-weight: 600;
}
.one h1 {
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 5px;
  font-family: "Metal Mania", sans-serif;
  font-size: 2rem;
}
.one h1:before {
  width: 28px;
  height: 5px;
  display: block;
  content: "";
  position: absolute;
  bottom: 3px;
  left: 50%;
  margin-left: -14px;
  background-color: #c3724e;
}
.one h1:after {
  width: 100px;
  height: 1px;
  display: block;
  content: "";
  position: relative;
  margin-top: 25px;
  left: 50%;
  margin-left: -50px;
  background-color: #c3724e;
}
.shop-inventory{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    width: 60vw;
    height: 90vh;
}

.inventory-category {
  /* border: 2px solid #231515; */
  border-radius: 8px;
  padding: 10px;
  width: 150px;
  min-height: 100px;
  /* background-color: #f8f8f8; */
  text-align: center;
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
}

.inventory-category h3 {
  font-size: 1.7rem;
  color: #333;
  margin-bottom: 5px;
  font-family: "Metal Mania", sans-serif;
  margin: 0;
}

/* .inventory-item img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
} */